<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bootswatch: Pulse</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Signika:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
  	<div class="row">
  	  <% 10.times do %>
  		<div class="col-lg-4 mb-4 md-4 t-4">
  		  <div class="card ml-3" style="width: 18rem;">
  	  		<h3 class="card-header">Event title</h3>
  	  		<div class="card-body">
     		  <h5 class="card-title">Event Location & Time</h5>
    		  <p class="card-text"><small>Some quick example text to build on the card title and make up the bulk of the card's content.</small></p>
  	  		</div>
  	  	  <div class="card-body">
            <a href="#" class="card-link">Join</a>
  	  	  </div>
    	</div>
      <% end %>
    </div>
  </body>
</html>